
@{
    ViewBag.Title = "Index";
}

    
        <h1> Delete Job</h1>
        <form method="GET" action="~/delete/del3">
            <table>
                <tr>
                    <td>Employer ID</td>
                    <td><input type="text" value="" required name="forid" /></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type="text" value="" required name="jobtitle" /></td>
                </tr>
                <tr><td></td><td><input type="submit" value="Delete" /></td></tr>
            </table>
        </form>
         
  


