

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Feedbacks</h2>
<h2> </h2>
<form method="post" action="~/feedback/reg">
    comment: <br />
    <textarea type="text" value=""required name="comment" rows="5" cols="20" style="vertical-align:top;"></textarea> <br />

                                               <input type="submit" value="submit" />
</form>



