

@{
    ViewBag.Title = "Index";
}



<div class="col-12">

    <h2> Add Job form </h2>
    <form method="post" action="~/job/reg1">
        <table>
            <tr>
                <td>
                    Job Title:
                </td>
                <td><input type="text" value="" required name="jobtitle" /></td>
            </tr>
            <tr>
                <td>
                    Responsibilities:
                </td>
                <td><input type="text" value="" required name="responsibilities" /></td>
            </tr>
            <tr>
                <td>
                    Salary:
                </td>
                <td><input type="text" value="" required name="salary" /></td>
            </tr>
            <tr>
                <td>
                    Location:
                </td>
                <td><input type="text" value="" required name="location" /></td>
            </tr>
            <tr>
                <td>
                    Contact number/email:
                </td>
                <td><input type="text" value="" required name="contactnumberemail" /></td>
            </tr>
            <tr>
                <td>
                    Employer ID:
                </td>
                <td><input type="text" value="" required name="forid" /></td>
            </tr>

            <tr><td></td><td><input type="submit" value="Add" /></td></tr>


        </table>
        

    </form>

</div>






