@{
    ViewBag.Title = "Index";
}



<div class="col-12">
    <h1>Search Job</h1>
    <p>
        <form method="post" action="~/Search/se">
            Jobtitle : <input type="text" value=""required name="jobtitle"  /><br />
            
            <input type="submit" value="Search" /><br />
        </form>
        <form method="post" action="~/Search/se1">
           
            Location : <input type="text" value=""required name="location" /><br />
            <input type="submit" value="Search"/><br />
        </form>
    </p>
</div>





