
@{
    ViewBag.Title = "Index";
}
<div class="col-6">
    <h1>Our Mission</h1>
    <p>We are here to help employers find suitable employees and help job </p>
    <p>seekers find suitable jobs. Registration and use are free. We do our </p>
    <p>best to connect employers and employees closely to make our world </p>
    <p>a better place.</p>
</div>



<div class="col-xs-6">
    </br>
    </br>






    <p> <image src="~/Content/mountain.PNG"</p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>





</div>


