
@{
    ViewBag.Title = "Index";
}
<div class="col-6">
    </br>
    </br>
    <h1>Sky Jobs</h1>
    <p>Office Address: 3 Wi Neera Drive, Elsdon, Porirua 5022</p>
    <p>Telephone Number: 025368212</p>
    <p>E-mail Address: whitireia002@nm.com</p>
</div>



<div class="col-6">
    <h1>Our Staff</h1>
    <div class="col-3">
        <p> <image src="~/Content/001.PNG"</p>
        <br>
        <span>Jeffery</span>
        <br>
        <b>CEO</b>
        <br />
        <p> <image src="~/Content/002.PNG"</p>
        <br>
        <span>Nick</span>
        <br>
        <b>Manager</b>
    </div>
    <div class="col-3">
        <p> <image src="~/Content/003.PNG"</p>
        <br>
        <span>Lucy</span>
        <br>
        <b>Administer</b>
        <br />
        <br />
        <br />
        <p> <image src="~/Content/004.PNG"</p>
        <br>
        <span>Jenny</span>
        <br>
        <b>Developer</b>
    </div>

</div>




